body {
  background: rgb(169, 228, 247);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(169, 228, 247, 1) 0%, rgba(15, 180, 231, 1) 25%, rgba(104, 11, 165, 1) 50%, rgba(219, 15, 62, 1) 75%, rgba(169, 228, 247, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(169, 228, 247, 1) 0%, rgba(15, 180, 231, 1) 25%, rgba(104, 11, 165, 1) 50%, rgba(219, 15, 62, 1) 75%, rgba(169, 228, 247, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(169, 228, 247, 1) 0%, rgba(15, 180, 231, 1) 25%, rgba(104, 11, 165, 1) 50%, rgba(219, 15, 62, 1) 75%, rgba(169, 228, 247, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-size: 100% 400vh;
  background-repeat: repeat-y;
}

p {
  opacity: 0;
}

.game-item {
  box-shadow: 10px 10px 8px 10px #888888;
  background-color: aliceblue;
}

#heading {
  margin-top: 100px;
  color: white
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row>div[class*='col-'] {
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.changing-words {
  font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
}

span.firstName {
  color: #222222;
  text-shadow: 2px 2px 4px #000000;
}

span.lastName {
  color: #dedede;
  text-shadow: 2px 2px 4px #000000;
}

.changing-words:hover span.firstName {
  color: #dedede;
  cursor: default;
}

.changing-words:hover span.lastName {
  color: #222222;
  cursor: default;
}